BloodDonation.HospitalClient/BloodDonation.HospitalClient/Connected Services/WebService/WebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BloodDonation/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" />
  <xs:element name="UserRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Counter" type="xs:int" />
        <xs:element minOccurs="0" name="IsLocationAv" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsAlltimes" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsMessageAv" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="SelectUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Day" type="xs:int" />
        <xs:element minOccurs="0" name="Time" type="xs:int" />
        <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserUpdateTimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="SelectUserTimeResult" nillable="true" type="q2:ArrayOfTimes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLocationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsLocationAv" type="xs:boolean" />
        <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLocationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLocationUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="SelectUserLocationResult" nillable="true" type="q3:ArrayOfHospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHospital">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHospitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="SelectHospitalResult" nillable="true" type="q4:ArrayOfHospital" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLocationDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLocationDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLocationDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateGeneral">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DonorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DonationCounter" type="xs:int" />
        <xs:element minOccurs="0" name="IsLocationAv" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsAlltimes" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsMessageAv" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdateGeneralResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserUpdateGeneralResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlHospitalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlHospitalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlHospitalUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="SelectNotificationResult" nillable="true" type="q5:Notification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStateNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStateNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStateNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserNotificationAccept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
        <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUserNotificationAcceptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllUserLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllUserLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllUserLocationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllUserTimes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAllUserTimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAllUserTimesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationAccept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationAcceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationAcceptResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationFinishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="IsPerson" type="xs:boolean" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="GetActiveNotificationResult" nillable="true" type="q6:Notification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotFinishedNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotFinishedNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="GetNotFinishedNotificationResult" nillable="true" type="q7:Notification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q8:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReadNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReadNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateReadNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>