BloodDonation.HospitalClient/BloodDonation.HospitalClient/Connected Services/WebService/WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BloodDonation.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Counter" type="xs:int" />
      <xs:element minOccurs="0" name="DonorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAlltimes" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsLocationAv" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMessageAv" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTimes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Times" nillable="true" type="tns:Times" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimes" nillable="true" type="tns:ArrayOfTimes" />
  <xs:complexType name="Times">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvaiable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Time" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Times" nillable="true" type="tns:Times" />
  <xs:complexType name="ArrayOfHospital">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Hospital" nillable="true" type="tns:Hospital" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHospital" nillable="true" type="tns:ArrayOfHospital" />
  <xs:complexType name="Hospital">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="District" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hospital" nillable="true" type="tns:Hospital" />
  <xs:complexType name="Notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="BloodType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      <xs:element minOccurs="0" name="HospitalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="NotiDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NotificationId" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Notification" nillable="true" type="tns:Notification" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPerson" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MessageId" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>